<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="BowlingEditorAdvisorApplication">
      <!-- @generated bowling -->
      <application>
         <run class="bowling.presentation.BowlingEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated bowling -->
      <perspective
            name="%_UI_Perspective_label"
            class="bowling.presentation.BowlingEditorAdvisor$Perspective"
            id="bowling.presentation.BowlingEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated bowling -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="bowling.presentation.BowlingEditorAdvisorOpenURICommand"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated bowling -->
      <actionSet
            label="%_UI_BowlingEditorAdvisor_ActionSet_label"
            visible="true"
            id="BowlingEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="bowling.presentation.BowlingEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="bowling.presentation.BowlingEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="bowling.presentation.BowlingEditorAdvisorOpenURICommand"
               class="bowling.presentation.BowlingEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="bowling.presentation.BowlingEditorAdvisorOpenURIAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated bowling -->
      <actionSet
            label="%_UI_BowlingModelWizard_ActionSet_label"
            visible="true"
            id="bowling.presentation.BowlingActionBarContributorActionSet">
         <action
               label="%_UI_BowlingModelWizard_label"
               class="bowling.presentation.BowlingActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="bowling.presentation.BowlingActionBarContributorNewAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated bowling -->
      <editor
            id="bowling.presentation.BowlingEditorID"
            name="%_UI_BowlingEditor_label"
            icon="icons/full/obj16/BowlingModelFile.gif"
            extensions="bowling"
            class="bowling.presentation.BowlingEditor"
            contributorClass="bowling.presentation.BowlingActionBarContributor">
      </editor>
   </extension>

</plugin>
